@import "tailwind";


body>section{
  min-height: 100vh!important;
}

body>section.sidebar{
  width: 12vw;
}

body section.main{
  width: 88vw;
  margin-left: 12vw;
  &>.main-content{
    padding: 2rem;
    min-height: 80vh;
  }
  & .a-h-10{
    min-height: 10vh;
  }
}