@import "tailwind";


body>section{
  min-height: 100vh!important;
}

body>section.sidebar{
  width: 12vw;
}

body section.main{
  width: 88vw;
  margin-left: 12vw;
  &>.main-content{
    padding: 2rem;
    min-height: 80vh;
  }
  & .a-h-10{
    min-height: 10vh;
  }
}
.th1{
  z-index: 0!important;
  position: static!important;
  left: 0;
}
.cat-th1{
  width: 70%!important;
}
.cat-th2{
  width: 30%!important;
}
.login{
  height: 100vh!important;
  width: 100vw!important;
}